<app-gridbase [items]="paises" [cols]="cols" [Ws]="WsPaises"></app-gridbase>

<p-dialog header="Paises" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Abreviatura :</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="vin" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Nombre :</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="vin" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>