<p-dialog header="Cliente" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false" [width]="730">
    <form [formGroup]="FrmDocumento" (ngSubmit)="save()">
        <p-tabView>
            <p-tabPanel header="General">
                <div class="ui-g-12 ui-md-12 ui-g-nopad ">
                    <div class="ui-g-2">
                        <label for="vin">Nombre:</label>
                    </div>
                    <div class="ui-g-10">
                        <input formControlName="Nombre" pInputText id="Nombre" />
                    </div>
                </div>
                <hr>
                <div class="ui-g-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <label for="vin">Contacto 1:</label>
                    </div>
                    <div class="ui-g-4 ">
                        <input formControlName="Contacto1" pInputText id="Contacto1" />
                    </div>
                    <div class="ui-g-2">
                        <label for="vin">C. de pago:</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="CondicionesDePago" [suggestions]="CondicionesDePago" (completeMethod)="searchCondiciones($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <label for="vin">Contacto 2:</label>
                    </div>
                    <div class="ui-g-4">
                        <input formControlName="Contacto2" pInputText id="Contacto2" />
                    </div>
                    <div class="ui-g-2">
                        <label for="vin">Tipo de Cliente:</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="TipoCliente" [suggestions]="TipoCliente" (completeMethod)="searchTipoCliente($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <label for="vin">R.F.C:</label>
                    </div>
                    <div class="ui-g-4">
                        <input formControlName="Rfc" pInputText id="Rfc" />
                    </div>
                    <div class="ui-g-2">
                        <label for="vin">Zona del Cliente:</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="ZonaCliente" [suggestions]="ZonaCliente" (completeMethod)="searchZonaCliente($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <label for="vin">Moneda</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="Moneda" [suggestions]="Moneda" (completeMethod)="searchMoneda($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                    <div class="ui-g-2">
                        <label for="vin">Cobrador:</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="Cobrador" [suggestions]="Cobrador" (completeMethod)="searchCobrador($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <label for="vin">Limite de Credito:</label>
                    </div>
                    <div class="ui-g-4">
                        <input currencyMask formControlName="LimiteCredito" pInputText id="LimiteCredito" />
                    </div>
                    <div class="ui-g-2">
                        <label for="vin">Vendedor:</label>
                    </div>
                    <div class="ui-g-4">
                        <p-autoComplete [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" formControlName="Vendedor" [suggestions]="Vendedor" (completeMethod)="searchVendedor($event)" field="Nombre" [dropdown]="true" [forceSelection]="true"></p-autoComplete>
                    </div>
                </div>
                <hr>
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
        </p-tabView>
    </form>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="add()" label="Delete"></button>
            <button type="submit" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>